.ptsReg(){
    font-family: 'pt_sans', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ptsRegIt(){
    font-family: 'pt_sans', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ptsBold(){
    font-family: 'pt_sans', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ptsBoldIt(){
    font-family: 'pt_sans', sans-serif;
    font-weight: 700;
    font-style: italic;
}